@model PageModel
@Html.DxaRegion("Header")
<main class="page-row page-row-expanded @Model.HtmlClasses" role="main">  
    @Html.DxaRegion("Hero")
    @Html.DxaRegion("Main")
</main>
@Html.DxaRegion("Footer")
